@page
@model TicketHiveSpaceKittens.Server.Areas.Identity.Pages.Account.LoginModel
@{
}


<link rel="stylesheet" type="text/css" href="~/css/LoginRegister-Style.css">

<!----------------------- Main Container -------------------------->

<div class="container px-4 py-5 px-md-5">
    <div class="row border rounded-5 p-3 shadow box-area">
        <div class="text-center mb-5 px-3 py-3" style="background-color: #305076;">
            <h1 class="text-white">Login</h1>
        </div>
        <!--------------------------- Left Box ----------------------------->

        <div class=" leftBox col-md-6 rounded-4 d-flex  flex-column left-box" style="background-color: #fbe89c;">
            <div class="logo-image mb-3 shadow">
                <img class="img-fluid" src="~/Images/logos/yellow.png" alt="logo" style="width: 250px;">
            </div>
            <p class="text-leftBox text-black">Be Ready!</p>
            <small class="text-leftBox text-wrap text-center text-black">Make sure you don't miss <br>  your favorite event!</small>
        </div>

        <!-------------------------- Right Box ---------------------------->

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Hello Friends!</h2>
                    <p>Welcome to SpaceKittens Events!</p>
                </div>
                <form method="post">
                <div class="input-group mb-3">
                    <input id="username" type="text" asp-for="Username" placeholder="Enter Username" class="form-control form-control-lg bg-light fs-6" />
                      
                </div>
                <div class="input-group mb-1">
                    <input id="password" type="password" asp-for="Password" placeholder="Enter Password" class="form-control form-control-lg bg-light fs-6" />
                      
                </div>
                <div class="input-group mt-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6">Login</button>
                </div>
                    @if (!ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="text-danger"></div>
                    }

                </form>
                <div class="row mt-3">
                    <small>Don't have account? <a href="~/Identity/Account/Register">Sign Up</a></small>
                </div>
            </div>
        </div>

    </div>
</div>


