@page "/"
@using TicketHiveSpaceKittens.Client.Api;
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;

@inject IEventService service   

<StartPageComponent />

<button type="button" class="btn btn-danger" @onclick="CallApi">Call API</button>

@code
{
    private async Task CallApi()
    {
        ApiCaller caller = new();
        await caller.MakeCallAsync();
    }
}