@page "/"
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;

@inject IEventService service   

<PageTitle>Index</PageTitle>

<h1>Welcome to the TicketHive Events.</h1>





<a class="btn btn-primary" href="/home">Home page</a>
<a class="btn btn-primary" href="/booking">Booking page</a>
<a class="btn btn-primary" href="/cart">Shopping cart page</a>
<a class="btn btn-primary" href="/user">Profile page</a>
<a class="btn btn-primary" href="/admin">Admin page</a>


