@page "/"
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;
@inject IEventService service

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (events != null)
{
    @foreach(var e in events)
    {
        <h1>@e.Name</h1>
    }
}

<a class="btn btn-primary" href="/home">Home page</a>
<a class="btn btn-primary" href="/booking">Booking page</a>
<a class="btn btn-primary" href="/cart">Shopping cart page</a>
<a class="btn btn-primary" href="/user">Profile page</a>
<a class="btn btn-primary" href="/admin">Admin page</a>

@code
{
    private List<EventModel>? events;
    protected override async Task OnInitializedAsync()
    {
        await GetEvents();
    }

    private async Task GetEvents()
    {
        events = await service.GetEventsAsync();
    }
}