@page "/"
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;

@inject IEventService service   

<PageTitle>Index</PageTitle>
<<<<<<< Updated upstream

<h1>Welcome to the TicketHive Events.</h1>

<a href="authentication/login"><img src="/Images/logos/yellow only logo.jpg" style="max-width:500px;"/></a>
=======
<StartPageComponent />
>>>>>>> Stashed changes
