
.bg-white {
    background-color: #305076 !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*------------ Left box ------------*/
.text-leftBox {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
}

.leftBox {
    justify-content: center;
    align-items: center;
}

/*------------ Right box ------------*/

.right-box {
    padding: 40px 30px 40px 40px;
}

