
.bg-white {
    background-color: rgba(48, 80, 118) !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*------------ Login container ------------*/
.container {
    justify-content: center;
    align-items: center;
    display: flex;
}
.box-area {
    width: 930px;
}

/*------------ Left box ------------*/
.text-leftBox {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
}

.leftBox {
    justify-content: center;
    align-items: center;
    background: #fbe89c !;
}

/*------------ Right box ------------*/

.right-box {
    padding: 40px 30px 40px 40px;
}

.btn-primary {
    background-color: #305076 !important;
}

/*------------ Responsive------------*/

@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}