@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>

    <Authorized>
        <NavLink class="nav-link text-white" href="/home" Match="NavLinkMatch.All">
            <span class="oi oi-home " aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link text-white" href="/booking" Match="NavLinkMatch.All">
            <span class="oi oi-bullhorn" aria-hidden="true"></span> Events
        </NavLink>
        <NavLink class="nav-link text-white" href="/cart" Match="NavLinkMatch.All">
            <span class="oi oi-cart" aria-hidden="true"></span> Shopping Cart
        </NavLink>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <NavLink class="nav-link text-white" href="admin" Match="NavLinkMatch.All">
        <span class="oi oi-shield" aria-hidden="true"></span> Admin Page
    </NavLink>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link text-white" href="authentication/profile" Match="NavLinkMatch.All">
            <span class="oi oi-cog" aria-hidden="true"></span> Settings
        </NavLink>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <NotAuthorized>
        <NavLink class="nav-link text-white" href="/home" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
