<link rel="stylesheet" type="text/css" href="/css/StartPage-Style.css">

<section class="">

    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        The best offer <br />
                        <span class="text-primary">for your business</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <button class="btn btn-lg btn-primary w-100 fs-6">Login</button>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <button class="btn btn-lg btn-warning w-100 fs-6">Register</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <img class="img-fluid card-img-top" src="/Images/Event images/image 22.jpg" alt="Your Image">
                        <button class="btn btn-primary mx-auto fs-6  mb-4 mt-3">Read AppInfo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
